.AccountSetting {
  width: 90%;
  display: grid;
  background-color: #f1f6eb;
  height: 800px;
  margin: 6em 6em 6em 6em;
  border-radius: 3%;
  box-shadow: 8px 3px 3px rgb(129, 172, 129);
}

.plan-selection {
  margin-top: 0.5em;
  margin-bottom: 2%;
  text-align: center;
  color: rgb(247, 102, 18);
}

.price-container {
  padding: 0em 1em 1em 1em;
}

.select-plan {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr;
  column-gap: 3em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 0;
}

.delete-account {
  text-align: center;
}

.delete-button {
  all: unset;
  text-decoration: underline;
  color: rgb(245, 127, 127);
}

.btnAccount {
  transform: translateX(10%);
  width: 80%;
  display: inline-block;
  padding: 0.8em 2em;
  border: 0.2rem solid #f5a440;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  color: #352e25;
  font-weight: 300;
  background-color: inherit;
  /* opacity: 0.7; */
  text-align: center;
  transition: all 0.2s;
}
.btnAccount:hover {
  color: #94b4a0;
  border: 0.16rem solid#fcd29c;
}
.pricing-plan {
  border-bottom: 1px solid #2d3135;
}
