* {
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  /* padding-top: 3%; */
}

.subContainer {
  margin-left: 10%;
  padding-top: 10%;
}

body {
  background-color: #fefffe;
}

.banner {
  background-image: linear-gradient(rgba(0, 0, 0.5, 0.35), rgba(0, 0, 0, 0.5)),
    url(https://i.postimg.cc/TYG3jB4P/linkedin-sales-solutions-6ie6-Ojshv-Wg-unsplash-min.jpg);
}

/* .banner {
  background-color: #111111;
  background-image: url(https://i.postimg.cc/TYG3jB4P/linkedin-sales-solutions-6ie6-Ojshv-Wg-unsplash-min.jpg);
} */

.banner {
  background-size: cover;
  -webkit-background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 0.9;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

.bookBtn {
  display: inline-block;
  color: white;
  text-shadow: 1px 1px 2px black;
  padding: 0.5em 3em;
  border: 0.16em solid #ffffff;
  margin: 0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  background-color: inherit;
  text-align: center;
  transition: all 0.15s;
}
.bookBtn:hover {
  border-color: #fcfbfb;
  transform: scale(1.05, 1.05);
  box-shadow: rgba(255, 252, 252, 0.5) 2px 4px 5px,
    rgba(255, 255, 255, 0.5) 2px 3px 4px;
}
.bookBtn:active {
  color: white;
  border-color: #bbbbbb;
}

#footer {
  bottom: 0;
  position: fixed;
  font-weight: 500;
  color: #ffffff;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: center;
}
