* {
  font-family: "DM Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mainContainer {
  padding-top: 8%;
}

.img {
  width: 20vw;
  height: 30vh;
}

body{
  background-color: #FEFFFE;
}