.log-reg-body {
    padding: 1.5em 2.5em 2em 2em;
}

.main-container {
    padding-top: 10%;
}

.blackboard {
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 20%;
}

#loginCard, #signupCard {
    width: 500px;
    height: 600px;
    box-shadow: 10px 10px 5px rgb(179, 209, 204);
}

.card-title {
    padding: 0.5em 0.5em 0em 0.5em;
}

.alternate-text {
    padding-top: 2.5em;
    text-align: right;
    padding-right: 2em;
    font-size: 15px;
}

#reg-link {
    color: orange;
}

#sign-in {
    color: orange;
    align-items: right;
}

#no-ac {
    color: rgb(189, 187, 187);
}

#acc-holder {
    color: rgb(189, 187, 187);
}

#signIn, #signUp {
    font-size: 50px;
    font-weight: 300;
}

.quote {
    font-weight: 500;
    text-align: center;
    font-size: 25px;
    padding-top: 5%;
    align-items: left;
    justify-content: left;
    margin-left: 10%;
}

.btn {
    font-weight: 500;
    align-items: center;
    margin: 10px;
    padding: 10px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    /* border-radius: 10px; */
    /* display: block; */
    border: 0px;
    box-shadow: 0px 0px 14px -7px #f09819;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.95);
}

.err {
    color:#FF512F;
    font-size:small;
}



