.main-container {
    padding-top: 10%;
}

.blackboard {
    display: flex;
    width: 500px;
    height: 500px;
    margin-left: 20%;
}

.card {
    width: 500px;
    height: 500px;
}

.card-title {
    font-size: 2.5rem;
    margin-left: 5%;
    margin-top: 10%;
    margin-bottom: 5%;
}

.form-body {
    margin-left: 5%;
}

#reg-link {
    color: orange;
}

#no-ac {
    color: gray;
}

.quote {
    padding-top: 5%;
    align-items: left;
    justify-content: left;
    margin-left: 10%;
}