.mainDivBook {
  margin-top: 3%;
  width: 90%;
  padding: 5% 3% 1% 3%;
  margin: auto;
}

.titleBook {
  text-align: center;
  color: rgb(247, 102, 18);
  padding-bottom: 2%;
}

.innerDivBook {
  transform: translateX(2%);

  margin: auto;
  width: 95%;
  min-height: 80vh;
  height: auto !important;
  height: 100%;
  background-color: rgb(242, 248, 239);
  text-align: center;
  padding: 3% 3% 3% 3%;
  border-radius: 2rem;
  display: inline-block;
  position: relative;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.scheduleDivBook {
  display: flex;
  width: 95%;
  background-color: rgb(255, 254, 250);
  margin: 2% 2% 2% 2%;
  border-radius: 0.5rem;
}

.datep {
  padding-top: 2%;
  padding-left: 3%;
  padding-right: 2%;
  color: rgb(86, 90, 77);
  font-weight: 500;
  white-space: nowrap;
}

.timep {
  padding-right: 2%;
  padding-top: 2%;
  color: rgb(86, 90, 77);
  font-weight: 500;
  white-space: nowrap;
}

.tutorp {
  padding-right: 2%;
  padding-top: 2%;
  color: rgb(86, 90, 77);
  font-weight: 500;
  white-space: nowrap;
}

.subjectp {
  padding-top: 2%;
  color: rgb(86, 90, 77);
  font-weight: 500;
  white-space: nowrap;
}

.deleteBtnBook {
  display: inline-block;
  padding: 0.3em 0.8em;
  border-radius: 0.2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 400;
  color: #ffffff;
  background-color: #879ff6;
  outline: none;
  border: none;
  box-shadow: inset 0 -0.6em 0 -0.35em rgba(90, 57, 57, 0.17);
  text-align: center;
  position: relative;
}

.deleteBtnBook:hover {
  background-color: #b5c3f5;
}
.deleteBtnSpanBook {
  position: fixed;
  right: 10%;
  margin-top: 1.2%;
}
