.PricePanel {
  background-color: #f1f6eb;
  border-radius: 10px;
  padding: 1em 1em 1em 1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  text-transform: uppercase;
}

.price-img {
  width: 80%;
  margin-bottom: 20px;
  max-width: 100%;
}

.pricing-features {
  margin: 50px 0 25px;
  color: #654500;
}

.pricing-features-items {
  margin: auto;
  width: 80%;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid rgb(225, 233, 225);
  color: #5a615a;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

ol,
ul,
li {
  list-style: none;
}

html {
  box-sizing: border-box;
}

.price-panelDiv:first-child {
  border-right: 1px solid rgb(214, 223, 214);
}

.price-panelDiv:last-child {
  border-left: 1px solid rgb(214, 223, 214);
}

.pricing-features {
  padding-left: 0;
}
