.container-profile{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10em 4em 0 4em;
    row-gap: 2em;
}

.schedule {
    background-color: #f1f6eb;
    height: 500px;
    margin-right: 1em;
}

.main-profile {
    background-color: #f1f6eb;
    height: 500px
}

