.container-profile{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 10em 4em 0 4em;
    row-gap: 2em;
}

.main-profile {
    background-color: #f1f6eb;
    height: 500px;
    margin-right: 1em;
    border-radius: 3%;
    box-shadow: 8px 3px 3px rgb(129, 172, 129);
}

.welcome {
    margin: 1em 1em 1em 1em;
    display: flex;
}

.dashboard {
    margin: 1em 1em 1em 1em;
}

.schedule {
    background-color: #f1f6eb;
    height: 500px;
    border-radius: 3%;
    box-shadow: 8px 3px 3px rgb(129, 172, 129);
    padding: 1em 1em 1em 1em;
}

.policy {
    position: absolute;
    bottom: 0;
}

.img-account-profile {
    border-radius: 50%;
    justify-content: right;
}
