.sidenav {
  width: 15rem;
  min-height: 100vh;
  height: auto !important;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f1f6eb;
}

.sidenav__list {
  padding: 0;
  padding-bottom: 5%;
  padding-top: 40%;
  margin-top: 50px;
  list-style-type: none;
  margin-right: 5%;
}

.sidenav__list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  padding: 20% 12% 20% 6%;
  /* font-size: 2rem; */
  box-shadow: rgba(70, 99, 70, 0.1) 0px 1px 1px 0px;
}

.sidenav__list-item a {
  text-decoration: none;
  color: rgb(86, 90, 77);
  font-size: 18px;
  width: 100%;
  height: 100%;
  display: flex;
}

.sidenav__list-item:hover {
  background-color: #cccab3;
  width: 120%;
  cursor: pointer;
}

.sidenav__list-item:focus {
  background-color: #cccab3;
}

.sideNavIcon {
  padding-right: 5%;
}

.sideNavText {
  font-size: 1rem;
  transform: translateY(10%);
}

.sideNavIcon {
  padding-right: 10%;
  color: rgb(252, 128, 56);
}
