.grid-container {
  padding-top: 2%;
}

.grid-container {
  display: grid;
  /* grid-template-columns: 240px 1fr; */
  grid-template-columns: 240px 82vw;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
}

.sidenav {
  width: 240px;
}

.sidenav {
  display: flex; /* Will be hidden on mobile */
  flex-direction: column;
  grid-area: sidenav;
  background-color: #95a698;
}

.sidenav__list {
  padding: 0;
  padding-bottom: 5%;
  padding-top: 40%;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  padding: 15% 10% 15% 20%;
  /* color: rgb(53, 68, 66); */
  color: rgb(255, 255, 255);
  background-color: rgba(121, 123, 107, 0.2);
  box-shadow: rgba(70, 99, 70, 0.1) 0px 1px 1px 0px;
  margin: auto;
}

.sidenav__list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}
.sideNavIcon {
  padding-right: 5%;
}

.sidenav__list-item {
  font-size: 1.05rem;
}
