.sidenav {
  width: 250px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #f1f6eb;
}

.sidenav__list {
  padding: 0;
  padding-bottom: 5%;
  padding-top: 40%;
  margin-top: 85px;
  list-style-type: none;
}

.sidenav__list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15% 10% 15% 20%;
  font-size: 1.05rem;
  box-shadow: rgba(70, 99, 70, 0.1) 0px 1px 1px 0px;
}

.sidenav__list-item a {
  text-decoration: none;
  color: rgb(53, 68, 66);
  font-size: 18px;
  width: 95%;
  height: 100%;
  display: flex;
}

.sidenav__list-item:hover {
  background-color: #cccab3;
  cursor: pointer;
}

.sidenav__list-item:focus {
  background-color: #cccab3;
}

.sideNavIcon {
  padding-right: 5%;
}
