.box-paginacao ul {
  width: 100%;
  height: auto;
  float: left;
}


.btn-paginacao {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* z-index: 10; */
  left: 0;
  bottom: 0;
  background-color: #fff;
}

.btn-paginacao ul {
  width: auto;
  height: auto;
}

.btn-paginacao ul li {
  list-style-type: none;
  width: 30px;
  height: 30px;
  float: left;
  margin: 0 5px 0 0;
  border: 0;
}

.btn-paginacao ul li label {
  width: 100%;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  font-weight: 400;
  font-size: 1em;
  color: #292e2c;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.25s ease-in-out;
}

.btn-paginacao ul li label:hover {
  background-color: #f6993b;
  color: #fff;
}

.leftButton,
.rightButton {
  display: flex;
  padding: 0.3em 0.8em;
  border: none;
  align-items: center;
  justify-content: center;
}

.leftButton:hover{
    background-color: #efa760;
  color: #fff;
}

.rightButton:hover{
    background-color: #efa760;
  color: #fff;
}

.prev {
  transform: translateX(-100%);
  
}
.fa-solid {
  margin:auto;
  padding-left: 1%;
  padding-right: 1%
}
