.imgs2 {
  width: 30rem;
  margin-left: 5%;
  min-width: auto;
  height: 50vh;
  object-fit: cover;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#cardimage2 {
  width: 90vw;
  background-color: #cdd3c7;
}

.card-body2 {
  padding: 5px;
  color: rgb(69, 80, 77);
  font-weight: 200;
}

.card-title2 {
  padding-top: 5%;
  font-size: x-large;
  padding-left: 5%;
}

.cardlink2 {
  padding-left: 5%;
}

.card-text2 {
  padding-top: 2%;
  font-weight: 200;
  color: rgb(69, 80, 77);
  font-size: 18px;
  text-shadow: 0.5px 0.5px 1px rgb(156, 178, 160);
}
.fa-star {
  color: rgb(98, 112, 108);
}

@media all and (max-width: 1200px) {
  #cardGroup2 {
    display: flex;
    flex-direction: column;
  }
}

.card2 {
  box-shadow: none;
  border: none;
  border-radius: 1rem;
  height: 100vh;
}

.card-body2 {
  margin: auto;
}

.card-text-div2 {
  /* display: flex;
  justify-content: start; */
  padding-left: 5%;
  padding-top: 1%;
}

.fa-star {
  color: rgb(243, 224, 49);
}

.review .review-base {
  transform: translateX(10%);
  background: white;
  opacity: 0.9;
  font-weight: 300;
  padding: 2% 5% 5% 5%;
  border-radius: 10px;
  position: relative;
}

.review .review-base .review-text {
  font-weight: 200;
  text-indent: 5em;
  line-height: 1.8em;
}

.review .review-base .review-text2 {
  font-weight: 200;
  text-indent: 5em;
  line-height: 1.8em;
}

.review .review-base .review-text:before {
  content: "\201C";
  position: fixed;
  left: -50px;
  top: 20px;
  font-family: Georgia, serif;
  font-size: 5rem;
  color: #cecece;
}

.review .review-base .review-text2:before {
  content: "\201D";
  position: fixed;
  bottom: -10%;
  right: 35px;
  font-family: Georgia, serif;
  font-size: 5rem;
  color: #cecece;
}

.innerDiv {
  padding-top: 3%;
  transform: translateX(-10%);
  padding-right: 2%;
}

.bookBtn {
  display: inline-block;
  padding: 0.8em 2em;
  border: 0.16rem solid #fefffe;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  color: #25352d;
  font-weight: 300;
  background-color: inherit;
  /* opacity: 0.7; */
  text-align: center;
  transition: all 0.2s;
}

.bookBtn:hover {
  color: #f4f4f4;
  border: 0.16rem solid#f4f4f4;
}

.btnSpan {
  display: flex;
  justify-content: center;
  transform: translateY(5rem);
}

html {
  scroll-behavior: smooth;
}
.div2 {
  transform: translateY(5%);
  height: 40rem;
  overflow-y: scroll;
  scrollbar-color: light;
  white-space: no-wrap;
  margin-left: 0;
}


.div1 {
  width: 10rem;
  margin-right: 0;
  padding-right: 0;
}
.student {
  text-align: center;
}

.backBtn {
  display: flex;
  padding: 0.6em 1em;
  border: 0.14rem solid #8f968f;
  border-radius: 0.1em;
  box-sizing: border-box;
  text-decoration: none;
  color: #666c69;
  font-weight: 300;
  background-color: inherit;
  /* opacity: 0.7; */
  text-align: center;
  transition: all 0.2s;
}
.backBtn:hover {
  color: #707769;
  border: 0.16rem solid#707769;
}
.backDiv {
  right: 0;
  margin: 0;
  padding-top: 1%;
  padding-bottom: 1%;
}
